[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tox = "*"
pytest = "*"
pytest-cov = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
build = "python setup.py sdist"
install = "pip install -e ."
uninstall = "python setup.py develop -u"
app1 = "python tests/app1.py"
